html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, details {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

p, li {
	line-height: 17px;
}

ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: #555;
	font-family: 'Ubuntu';
	font-size: 12px;
}

h1 {
	font-weight: bold;
}

a, a:visited {
    color: #ff7b0d;
    text-decoration: none;
}

a:hover {
    color: #ffa84c;
    text-decoration: none;
}

#wrapper {
	max-width: 980px;
	margin:0px auto;
}

.subheader {
	margin-top: 8px;
	margin-bottom: 20px;
}

h1.description {
	color: white;
	font-size: 12px;
}

.header_wrap {
	background-color: #f8f8f8;
	border-radius: 6px 6px 0 0;
	padding: 26px 20px 28px;
}

#navigation {
	background: #ff7b0d; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* W3C */
	min-height: 50px;
	width: 100%;
}

#navigation ul > li {
	float: left;
	margin: 0 7px;
	padding: 15px 0;
}

#navigation a {
	font-weight: 400;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding: 5px;
	line-height: 20px;
}

#navigation li :hover {
	color: #eee;
}

.clear {
	clear: both;
}

#content {
	background: #FFF none repeat scroll 0% 0%;
	padding: 30px;
}

#footer {
	height: 150px;
	background: none repeat scroll 0 0 #222;
	border-radius: 0 0 6px 6px;
	padding: 15px;
}

.kontakt {
	float: left;
	width: 21.679%;
	color: #ccc;
}

.links {
	float: left;
	margin-left: 4.4%;
}

.title {
	border-bottom: 1px solid #333;
	color: #eee;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

#RTZEIT {
    font: 5em Andale Mono,monospace;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 16px;
    position: absolute;
    text-align: right;
    vertical-align: bottom;
    width: 60%;
}
